body{
    background-color:rgb(3, 17, 34);
    color:#c3c3c3;
    width: 1024px;
    height: 768px;
    margin: 0px;
    border: 1px solid red;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;
}